<div class="container p-5">
    <h1 class="display-4 text-center mb-5">Eat-Da-Burger</h1>

    <div class="row">
        <div class="col-12 col-lg-4 mb-5">
            <div class="row">
                <div class="col-11">
                    <h2 class="mb-4">{{title}} a burger:</h2>

                    <form action="{{action}}" method="POST">
                        <div class="form-group py-3 mb-4">
                            <label for="burger_name">Burger name</label>
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="text" class="form-control form-control-lg" id="burger_name" name="name" value="{{name}}" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-info" id="button_submit" title="Click to submit.">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4 mb-5">
            <h2 class="mb-5">Haven't eaten:</h2>

            {{#each burgers}}
                {{#unless this.devoured}}
                    <div class="row mb-2 burgers">
                        <div class="col-11 col-lg-10">
                            <form action="/{{this.id}}/1?_method=PATCH" method="POST">
                                <input type="hidden" name="name" value="{{this.name}}">
                                <button type="submit" class="btn btn-warning burgers_not_devoured" title="Click to devour the {{this.name}} burger!">{{this.name}}</button>
                            </form>
                        </div>

                        <div class="col-1 col-lg-1">
                            <form action="/{{this.id}}?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-link" title="Click to delete the {{this.name}} burger."><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>

                            <form action="/{{this.id}}" method="GET">
                                <button type="submit" class="btn btn-link" title="Click to edit the {{this.name}} burger."><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}
        </div>

        <div class="col-12 col-lg-4 mb-5">
            <h2 class="mb-5">Have eaten:</h2>

            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="row mb-2 burgers">
                        <div class="col-11 col-lg-10">
                            <button type="button" class="btn btn-success burgers_devoured">{{this.name}}</button>
                        </div>

                        <div class="col-1 col-lg-1">
                            <form action="/{{this.id}}?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-link" title="Click to delete the {{this.name}} burger."><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>

                            <form action="/{{this.id}}" method="GET">
                                <button type="submit" class="btn btn-link" title="Click to edit the {{this.name}} burger."><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <hr>
    
    <footer class="text-center pt-2">
        Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 by <a href="https://www.linkedin.com/in/ijlee2/" target="_blank">Isaac J. Lee</a>, all rights reserved.
    </footer>
</div>