<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Everyone has a story to tell. Hear them out.">
        <meta name="keywords" content="Mai, social media, share photos, write stories, image recognition, natural language generation, John Absher, Brian Ervin, David Gutierrez, Jason Joachim, Isaac Lee">
        <meta name="author" content="John Absher, Brian Ervin, David Gutierrez, Jason Joachim, Isaac J. Lee">
        <meta name="theme-color" content="#000000">
        
        <title>Mai</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/mai.png">

        <!-- Import fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Nunito" rel="stylesheet">

        <!-- Import Materialize -->
        <link type="text/css" rel="stylesheet" href="assets/css/materialize/materialize.min.css" media="screen,projection">

        <!-- Custom CSS -->
        {{#each customCSS}}
        <link rel="stylesheet" type="text/css" href="assets/css/{{this}}.css">
        {{/each}}
    </head>
    <body class="blue-grey lighten-5">
        <!-- Navbar -->
        {{#if maiId}}
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper grey darken-4">
                    <a href="/" class="brand-logo"><img class="responsive-img" src="assets/images/mai_inverted.png" alt="Mai logo">Mai</a>
                    <a href="#" data-activates="mai-menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

                    <!-- Desktop -->
                    <ul id="mai-dropdown-writer" class="dropdown-content">
                        <li><a href="/meet-mai">Meet Mai</a></li>
                        <li><a href="/meet-mai-team">Meet Mai Team</a></li>

                        <li class="divider"></li>

                        <li><a href="/settings">Settings</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>

                    <ul class="right hide-on-med-and-down" id="mai-menu-desktop">
                        <li><a class="mai-menu-desktop-items" href="/">Home<i class="material-icons right">home</i></a></li>
                        <li class="green darken-2"><a class="mai-menu-desktop-items" href="/upload-photos">Compose<i class="material-icons right">add_a_photo</i></a></li>
                        <li><a class="mai-menu-desktop-items" href="/writers">Find Writers<i class="material-icons right">group</i></a></li>
                        <li><a class="mai-menu-desktop-items dropdown-button" href="#" data-activates="mai-dropdown-writer">{{maiFullname}}<i class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Mobile -->
        <ul class="side-nav" id="mai-menu-mobile">
            <li class="black-text center-align">{{maiFullname}}</li>

            <li class="divider"></li>

            <li><a class="mai-menu-mobile-items" href="/">Home</a></li>
            <li class="green lighten-3"><a class="mai-menu-mobile-items" href="/upload-photos">Compose</a></li>
            <li><a class="mai-menu-mobile-items" href="/writers">Find Writers</a></li>

            <li class="divider"></li>

            <li><a class="mai-menu-mobile-items" href="/meet-mai">Meet Mai</a></li>
            <li><a class="mai-menu-mobile-items" href="/meet-mai-team">Meet Mai Team</a></li>

            <li class="divider"></li>

            <li><a class="mai-menu-mobile-items" href="/settings">Settings</a></li>
            <li><a class="mai-menu-mobile-items" href="/logout">Logout</a></li>
        </ul>
        {{else}}
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper grey darken-4">
                    <a href="/" class="brand-logo"><img class="responsive-img" src="assets/images/mai_inverted.png" alt="Mai logo">Mai</a>
                    <a href="#" data-activates="mai-menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

                    <!-- Desktop -->
                    <ul class="right hide-on-med-and-down" id="mai-menu-desktop">
                        <li><a class="mai-menu-desktop-items" href="/">Home</a></li>
                        <li><a href="/meet-mai">Meet Mai</a></li>
                        <li><a href="/meet-mai-team">Meet Mai Team</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        
        <!-- Mobile -->
        <ul class="side-nav" id="mai-menu-mobile">
            <li><a class="mai-menu-mobile-items" href="/">Home</a></li>
            <li><a class="mai-menu-mobile-items" href="/meet-mai">Meet Mai</a></li>
            <li><a class="mai-menu-mobile-items" href="/meet-mai-team">Meet Mai Team</a></li>
        </ul>
        {{/if}}

        <div class="container">
            {{{body}}}
        </div>

        <footer class="page-footer grey darken-4">
            <div class="container">
                <div class="row">
                    <div class="col s5 l4 offset-l2">
                        <h3 class="white-text">Follow us!</h3>

                        <ul id="mai-footer-social">
                            <div class="row">
                                <div class="col s3 l2">
                                    <li><a class="grey-text text-lighten-3" href="https://github.com/ijlee2/Mai" target="_blank" title="Follow Mai on GitHub!"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
                                </div>
                                <div class="col s3 l2">
                                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com" target="_blank" title="Follow Mai on Facebook!"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                </div>
                                <div class="col s3 l2">
                                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com" target="_blank" title="Follow Mai on LinkedIn!"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                </div>
                                <div class="col s3 l2">
                                    <li><a class="grey-text text-lighten-3" href="https://www.instagram.com" target="_blank" title="Follow Mai on Instagram!"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </div>
                                <div class="col s3 l2">
                                    <li><a class="grey-text text-lighten-3" href="https://www.twitter.com" target="_blank" title="Follow Mai on Twitter!"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                </div>
                            </div>
                        </ul>
                    </div>

                    <div class="col s6 offset-s1 l4 offset-l1">
                        <h3 class="white-text">Links</h3>

                        <ul id="mai-footer-links">
                            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                            {{#if maiId}}
                            <li><a class="grey-text text-lighten-3" href="/compose">Compose</a></li>
                            <li><a class="grey-text text-lighten-3" href="/writers">Find Writers</a></li>
                            {{/if}}
                            <li><a class="grey-text text-lighten-3" href="/meet-mai">Meet Mai</a></li>
                            <li><a class="grey-text text-lighten-3" href="/meet-mai-team">Meet Mai Team</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-copyright teal darken-1">
                <div class="container">
                    <div class="center-align">
                        Copyright © 2017 by <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/johnabsher/" target="_blank">John Absher</a>, <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/brianervinmedia/" target="_blank">Brian Ervin</a>, <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/david-gutierrez-979a4a148/" target="_blank">David Gutierrez</a>, <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/jasonjoachim/" target="_blank">Jason Joachim</a>, <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/ijlee2/" target="_blank">Isaac Lee</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Import jQuery before materialize.js -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/javascript/materialize/materialize.min.js"></script>

        <!-- Custom JavaScript -->
        {{#each customJavascript}}
        <script type="text/javascript" src="assets/javascript/{{this}}.js"></script>
        {{/each}}
    </body>
</html>