<div class="mai-separator-2"></div>

<div class="row">
    <div class="col s12 m10 offset-m1 l12">
        <h1 class="mai-attacher-1">Settings</h1>
    </div>
</div>

<div class="row">
    <!-- Left pane -->
    <div class="col s12 m10 offset-m1 l6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 l10 offset-l1">
                        <h2>Update profile</h2>

                        <div class="mai-separator-2"></div>

                        <form action="/api/update-profile_{{writer.id}}?_method=PATCH" method="POST">
                            <div class="input-field">
                                <label for="mai-fullname" class="blue-grey-text text-darken-2">Full name</label>
                                <input type="text" name="fullname" id="mai-fullname" class="validate" value="{{writer.fullname}}" required>
                            </div>

                            <div class="input-field">
                                <label for="mai-email" class="blue-grey-text text-darken-2">Email</label>
                                <input type="text" name="email" id="mai-email" class="validate" value="{{writer.email}}" required>
                            </div>

                            <div class="input-field">
                                <label for="mai-username" class="blue-grey-text text-darken-2">Username</label>
                                <input type="text" name="username" id="mai-username" class="validate" value="{{writer.username}}" required>
                            </div>

                            <div class="mai-separator-2"></div>

                            <button type="submit" class="btn-large waves-effect waves-light" title="Click to update.">Update</button>
                        </form>

                        <div class="mai-separator-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right pane -->
    <div class="col s12 m10 offset-m1 l6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 l10 offset-l1">
                        <h2>Update password</h2>

                        <div class="mai-separator-2"></div>

                        <form action="/api/update-password_{{writer.id}}?_method=PATCH" method="POST">
                            <div class="input-field">
                                <label for="mai-current-password" class="blue-grey-text text-darken-2">Current password</label>
                                <input type="password" name="password_current" id="mai-current-password" class="validate" placeholder="********" required>
                            </div>

                            <div class="input-field">
                                <label for="mai-new-password" class="blue-grey-text text-darken-2">New password</label>
                                <input type="password" name="password_new" id="mai-new-password" class="validate" placeholder="" required>
                            </div>

                            <div class="mai-separator-2"></div>

                            <button type="submit" class="btn-large waves-effect waves-light" title="Click to update.">Update</button>
                        </form>

                        <div class="mai-separator-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 l10 offset-l1">
                        <h2>Delete Mai account</h2>

                        <div class="mai-separator-3"></div>

                        <form action="/api/delete-account_{{writer.id}}?_method=DELETE" method="POST">
                            <button type="submit" class="btn-large waves-effect waves-light red darken-2" title="Click to delete Mai account.">Delete Mai account</button>
                        </form>

                        <div class="mai-separator-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mai-separator-3"></div>