<div class="row">
    <div class="col s12 m10 offset-m1">
        <h1><a href="http://www.neogaf.com/forum/showthread.php?t={{thread.threadId}}" target="_blank">{{thread.title}}</a></h1>
        <h2>by {{thread.author}}</h2>
    
        <div class="row">
            <div class="col s6">
                <h3>Story</h3>

                {{{thread.body}}}
            </div>

            <div class="col s5 offset-s1">
                <h3>Comments</h3>

                {{#each thread.comments}}
                    <p><span>{{this.author}}</span>: {{this.body}}</p>
                {{/each}}
                
                <div class="card blue-grey lighten-5 hoverable">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <form action="/api/add-comment_{{thread.threadId}}" method="POST">
                                    <div class="input-field">
                                        <label for="neotech-author" class="blue-grey-text text-darken-2">My name:</label>
                                        <input type="text" name="author" id="neotech-author" class="validate" required>
                                    </div>

                                    <div class="input-field">
                                        <label for="neotech-comment" class="blue-grey-text text-darken-2">My comment:</label>
                                        <input type="text" name="body" id="neotech-comment" class="validate" required>
                                    </div>

                                    <div class="neotech-separator-2"></div>

                                    <button type="submit" id="button_post" class="btn waves-light" title="Click to post your comment.">Post</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>